html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

body {
  font-family: Oswald;
  background: #111;
  color: white;
}

#top_container{
  justify-content: center;
}

#top_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 52%;
}

#all_scroll_right{
  white-space: nowrap;
}

#scroll{
  position: relative;
  margin-left: 0%;
  white-space: nowrap;
}

#scroll2{
  position: relative;
  margin-left: -365%;
  white-space: nowrap;
}

.move_img{
  position: relative;
  width: 18%;
}

.move_img_loop{
  position: relative;
  width: 18%;
}

#titles{
  margin: auto;
  text-align: center;
  font-size: 200%;
  padding: 20px;
}

h1{
  font-size: 200%;
}

h2{
  font-size: 150%;
}